{
  "openapi": "3.1.0",
  "info": {
    "title": "Mycel Exchange API",
    "version": "0.2.0",
    "description": "OpenAI-compatible chat, image, embedding and transcription APIs plus durable asynchronous video jobs. Only capabilities verified and advertised by a live Supplier are routable."
  },
  "servers": [{ "url": "https://mycel.thefocus.ai/v1" }],
  "security": [{ "applicationCredential": [] }],
  "paths": {
    "/models": {
      "get": {
        "security": [],
        "operationId": "listModels",
        "summary": "List models currently offered by the Exchange",
        "responses": {
          "200": {
            "description": "Dynamic model, capability, guarantee and pricing catalogue",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ModelList" } } }
          }
        }
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "description": "The body itself implies hard requirements: stream requires streaming, tools requires tool-calling, JSON response formats require structured-output, and image/video parts require the corresponding input capability.",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Capabilities" }, { "$ref": "#/components/parameters/Guarantees" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatCompletionRequest" } } } },
        "responses": {
          "200": { "description": "OpenAI-compatible JSON response or SSE stream", "headers": { "X-Mycel-Request-Id": { "$ref": "#/components/headers/RequestId" } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientBalance" },
          "413": { "$ref": "#/components/responses/BodyTooLarge" },
          "502": { "$ref": "#/components/responses/UpstreamError" },
          "503": { "$ref": "#/components/responses/NoEligibleOffer" }
        }
      }
    },
    "/embeddings": {
      "post": {
        "operationId": "createEmbedding",
        "summary": "Create OpenAI-compatible embeddings",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Guarantees" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ModelRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/OperationSuccess" }, "503": { "$ref": "#/components/responses/NoEligibleOffer" } }
      }
    },
    "/audio/transcriptions": {
      "post": {
        "operationId": "createTranscription",
        "summary": "Transcribe one recorded audio file",
        "description": "Multipart bytes are relayed unchanged. Audio duration is priced in seconds from the successful upstream response; uploaded bytes are recorded separately. Responses without measurable duration are rejected rather than undercharged. Batch by issuing bounded concurrent requests; there is no second batching protocol.",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Guarantees" }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["model", "file"],
                "properties": { "model": { "type": "string" }, "file": { "type": "string", "format": "binary" }, "language": { "type": "string" }, "prompt": { "type": "string" } }
              }
            }
          }
        },
        "responses": { "200": { "$ref": "#/components/responses/OperationSuccess" }, "413": { "$ref": "#/components/responses/MediaTooLarge" }, "502": { "$ref": "#/components/responses/UpstreamError" }, "503": { "$ref": "#/components/responses/NoEligibleOffer" } }
      }
    },
    "/images/generations": {
      "post": {
        "operationId": "createImage",
        "summary": "Generate images",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Guarantees" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ModelRequest" } } } },
        "responses": { "200": { "$ref": "#/components/responses/OperationSuccess" }, "503": { "$ref": "#/components/responses/NoEligibleOffer" } }
      }
    },
    "/files": {
      "post": {
        "operationId": "uploadVideoInput",
        "summary": "Upload a caller-scoped video input",
        "description": "Send raw video bytes with a video/* Content-Type. The returned id, not a large base64 body, is supplied to a video job.",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }],
        "requestBody": { "required": true, "content": { "video/mp4": { "schema": { "type": "string", "format": "binary" } } } },
        "responses": { "201": { "description": "Stored file metadata" }, "413": { "$ref": "#/components/responses/MediaTooLarge" } }
      }
    },
    "/files/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Id" }],
      "get": { "operationId": "getFile", "summary": "Get caller-owned file metadata", "responses": { "200": { "description": "File metadata" }, "404": { "description": "Not found or not owned by caller" } } },
      "delete": { "operationId": "deleteFile", "summary": "Delete a caller-owned file", "responses": { "200": { "description": "Deleted" }, "404": { "description": "Not found or not owned by caller" } } }
    },
    "/files/{id}/content": {
      "get": {
        "operationId": "getFileContent",
        "summary": "Download caller-owned input or generated output",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Id" }],
        "responses": { "200": { "description": "Original media bytes" }, "404": { "description": "Not found or not owned by caller" } }
      }
    },
    "/videos": {
      "post": {
        "operationId": "createVideoJob",
        "summary": "Queue durable asynchronous video generation",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Guarantees" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/ModelRequest" }, { "type": "object", "properties": { "prompt": { "type": "string" }, "seconds": { "type": "number", "minimum": 1 }, "input_file_id": { "type": "string" } } }] } } }
        },
        "responses": { "202": { "description": "Queued job", "headers": { "X-Mycel-Request-Id": { "$ref": "#/components/headers/RequestId" } } }, "503": { "$ref": "#/components/responses/NoEligibleOffer" } }
      }
    },
    "/videos/{id}": {
      "get": {
        "operationId": "getVideoJob",
        "summary": "Get durable video job status and output_file_id",
        "parameters": [{ "$ref": "#/components/parameters/EndUser" }, { "$ref": "#/components/parameters/Id" }],
        "responses": { "200": { "description": "queued, running, succeeded, or failed job" }, "404": { "description": "Not found or not owned by caller" } }
      }
    }
  },
  "components": {
    "securitySchemes": { "applicationCredential": { "type": "http", "scheme": "bearer", "description": "Application credential, not a Clerk browser token." } },
    "parameters": {
      "EndUser": { "name": "X-Mycel-End-User", "in": "header", "required": false, "description": "Stable application-scoped subject; required for static credentials.", "schema": { "type": "string", "minLength": 1 } },
      "Capabilities": { "name": "X-Exchange-Require-Capability", "in": "header", "description": "Additional comma-separated hard capabilities. Body-implied requirements are always unioned with these.", "schema": { "type": "string" } },
      "Guarantees": { "name": "X-Exchange-Require-Guarantee", "in": "header", "description": "Additional comma-separated hard guarantees.", "schema": { "type": "string" } },
      "Id": { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
    },
    "headers": { "RequestId": { "description": "Join key for application provenance and Exchange request records.", "schema": { "type": "string", "format": "uuid" } } },
    "schemas": {
      "ModelRequest": { "type": "object", "required": ["model"], "properties": { "model": { "type": "string" } }, "additionalProperties": true },
      "Model": {
        "type": "object",
        "required": ["id", "object", "owned_by", "pricing", "capabilities", "guarantees"],
        "properties": {
          "id": { "type": "string" }, "object": { "const": "model" }, "owned_by": { "const": "exchange" },
          "pricing": { "type": "object", "description": "Chat dollars per million tokens.", "properties": { "prompt": { "type": "number" }, "completion": { "type": "number" } } },
          "operation_pricing": { "type": "object", "description": "Cheapest routable retail operation prices. Each operation names input_unit, output_unit, dollars per million input/output units, and optional additional_input unit prices. Wholesale prices are never exposed.", "additionalProperties": true },
          "capabilities": { "type": "array", "items": { "enum": ["chat", "streaming", "tool-calling", "structured-output", "reasoning", "image-input", "video-input", "embeddings", "transcription", "image-generation", "video-generation"] } },
          "guarantees": { "type": "array", "items": { "type": "string" } }, "context_length": { "type": "integer" }
        }
      },
      "ModelList": { "type": "object", "required": ["object", "data"], "properties": { "object": { "const": "list" }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/Model" } } } },
      "ChatMessage": { "type": "object", "required": ["role", "content"], "properties": { "role": { "type": "string" }, "content": {} }, "additionalProperties": true },
      "ChatCompletionRequest": { "type": "object", "required": ["model", "messages"], "properties": { "model": { "type": "string" }, "messages": { "type": "array", "items": { "$ref": "#/components/schemas/ChatMessage" } }, "stream": { "type": "boolean" }, "tools": { "type": "array" }, "response_format": { "type": "object" } }, "additionalProperties": true },
      "Error": { "type": "object", "required": ["error"], "properties": { "error": { "type": "string" }, "message": { "type": "string" }, "considered": { "type": "array", "items": { "type": "object" } } }, "additionalProperties": true }
    },
    "responses": {
      "OperationSuccess": { "description": "Upstream-compatible response", "headers": { "X-Mycel-Request-Id": { "$ref": "#/components/headers/RequestId" } } },
      "BadRequest": { "description": "Invalid request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Unauthorized": { "description": "Application or End User identity failed" },
      "InsufficientBalance": { "description": "No funded owner or Client credit remains" },
      "BodyTooLarge": { "description": "JSON request exceeds 10 MB" },
      "MediaTooLarge": { "description": "Media request exceeds 100 MB" },
      "UpstreamError": { "description": "Selected Supplier failed" },
      "NoEligibleOffer": { "description": "No live, verified and priced Offer satisfies the request" }
    }
  }
}
